/* || General Styles */

:root {
  --main-background-color: #002244;
  --main-font-family: 'Share Tech Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--main-background-color);
}

main, header {
  max-width: 2000px;
}

.splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-background-color);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.splash-screen img {
  height: 120px;
  width: 100px;
}

.splash-screen img, .splash-screen h3 {
  transition: opacity 0.2s ease-in-out;
}

.splash-image-invisible {
  opacity: 0;
}

.splash-screen-remove {
  display: none;
}

#home footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 16px;
}

#home footer .project-overview {
  display: none;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.social-media > a > i {
  color: rgba(255,255,255,80%);
  font-size: large;
  font-size: xx-large;
  margin-left: 16px;
  margin-right: 16px;
}

/* || Header */

header {
  position: absolute;
  z-index: 1;
  height: 60px;
  width: 100%;
  transition: background-color 0.3s ease-in-out, blur 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.backs {
  background-color: rgba(0,34,68,90%);
  backdrop-filter: blur(4px);
  box-shadow: rgba(12, 12, 13, 0.2) 0px 1px 8px 0px;
}

.sticky {
  position: fixed;
  top:0;
}

.header-container {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.slidein {
  animation: slidein 0.5s ease-in-out;
}

.logo-container {
  display: flex;
  align-items: center;
  flex: 300px 1;
}

.logo-text {
  text-transform: capitalize;
  font-size: large;
  font-weight: bolder;
}

.app-nav > input {
  z-index: 2;
  opacity: 0;
  position: absolute;
  width: 23px;
  margin: 0;
  height: 27px;
}

.app-nav > span {
  display: block;
  width: 27px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  box-shadow: 0 0 2px #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 1px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.app-nav > span:first-child {
  transform-origin: 0% 0%;
}

.app-nav > span:nth-last-child(2){
  transform-origin: 0% 100%;
}

.app-nav input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

.app-nav input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.app-nav input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.app-nav-list {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,34,68,95%);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  width: 268px;
  padding-top: 75px;
  padding-left: 0;
  box-shadow: rgba(12, 12, 13, 0.2) 0px 1px 8px 0px;
  box-sizing: border-box;
  transform: translateX(268px);
  transition: transform 0.2s ease-in-out;
}

.app-nav > input:checked ~ .app-nav-list {
  transform: none;
}

.app-nav-list > li {
  list-style: none;
  box-sizing: border-box;
}

.app-nav-list li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: text-shadow 0.1s ease-in-out;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.app-nav-list > li > a:active {
  background-color: none;
  user-select: none;
}

.active {
  color: white;
  text-shadow: 0 0 3px white;
  background-color: none;
}

.app-nav-list > li > a:hover {
  text-shadow: 0 0 2px white;
}

.app-logo {
  height: 40px;
  width: 33px;
}

.invisible {
  opacity: 0;
}

main {
  position: absolute;
  top: 0;
  width: 100%;
}

section {
  background: var(--main-background-color);
}

.content-section {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
}

.primary {
  color: white;
  font-family: var(--main-font-family);
}

p {
  color: rgba(255,255,255,80%);
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--main-font-family);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: medium;
}

.slideup {
  animation: slideup 0.6s ease-in-out;
}

/* || Home Section */
#home {
  background: linear-gradient(180deg, rgba(49,140,231,1) 0%, rgba(0,34,68,1) 100%);
}

#home > a {
  display: block;
  min-width: 150px;
  font-size: large;
  background-color: rgba(0,0,0,0);
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 8px;
  font-family: var(--main-font-family);
  margin-top: 8px;
  text-decoration: none;
  text-align: center;
}

#home > a:hover {
  box-shadow: 0 0 3px white;
  text-shadow: 0 0 2px white;
}

#home {
  flex-direction: column;
  padding-top: 96px;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  height: 100vh;
}

#home > h1 {
  font-size: calc(7vw + 5px);
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
}

#home > p {
  width: fit-content;
  text-align: center;
}

#home > .project-overview {
  display: none;
}

/* || Skills Section */
#languages {
  flex-direction: column;
  padding: 80px 24px 36px 24px;
}

.proficiencies {
  margin-top: 16px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 16px;
}

.proficiency {
  border-radius: 4px;
  background-color: rgba(255,255,255,5%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(12, 12, 13, 0.2) 0px 1px 8px 0px;
  min-height: 80px;
}

.proficiency:hover > h3 {
  text-shadow: 0 0 1.25px white;
}

.proficiency:hover span.checked {
  text-shadow: 0 0 2.5px deepskyblue;
}

.proficiency > h3 {
  font-size: medium;
  margin-bottom: 8px;
  margin-top: 0;
  transition: text-shadow 0.1s ease-in-out;
}

.star-rating > span {
  color: white;
}

span.checked {
  color: deepskyblue;
  text-shadow: 0 0 1.5px deepskyblue;
}

/* || Projects Section */
#projects {
  padding: 70px 24px 36px 24px;
  flex-direction: column;
  justify-content: flex-start;
}

#projects > .description {
  margin-bottom: 24px;
}

.projects-collection-container {
  height: 100%;
}

.projects-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  height: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  border-radius: 4px;
  background-color: rgba(255,255,255,5%);
  box-sizing: border-box;
  box-shadow: rgba(12, 12, 13, 0.2) 0px 1px 8px 0px;
  padding: 16px;
}

.project-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.project-content h3 {
  margin: 0;
  line-height: 2rem;
}

.project-content > p {
  font-size: 15px;
  margin-top: 16px;
}

.project-content > i {
  color: white;
}

.tech-stack {
  display: flex;
  min-width: fit-content;
  width: 100%;
  min-height: 25px;
  box-sizing: border-box;
  align-items: center;
  margin-top: 8px;
}

.tech-stack i {
  color: white;
}

.award {
  width: 100%;
  min-height: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: x-small;
}

.project-title-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.project-title-container > i {
  color: white;
  margin-right: 16px;
}

.award > i {
  color: deepskyblue;
  font-size: medium;
}

.award > span {
  margin-left: 8px;
  color: deepskyblue;
  line-height: 1.25rem;
}

.tech-stack > span {
  padding-left: 12px;
  margin-right: 8px;
  font-size: x-small;
}

#moreworks {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #118bdc;
  font-size: small;
}

#contact {
  position: absolute;
  top: 300%;
}


@keyframes slidein {
  from {
    transform: translateY(-54px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideup {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Hamburger Menu animations */
@keyframes menuSlideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(268px);
  }
}

@keyframes menuSlideIn {
  from {
    transform: translateX(268px);
  }
  to {
    transform: translateX(0);
  }
}

/* Small screen landscape orientation specific styling */
@media (orientation: landscape) and (max-width: 1000px) {
  #home {
    padding-top: 5%;
    justify-content: center;
  }

  #home > h1 {
    font-size: calc(5vw + 1px) !important;
  }
}

@media (min-width: 1024px){
  .app-nav > input, .app-nav > span {
    display: none;
  }

  .app-nav-list {
    display: flex;
    flex-direction: row;
    transform: none;
    height: 100%;
    padding-top: 16px;
    position: static;
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    width: 100%;
  }
  
  .app-nav-list li {
    padding-left: 16px;
    padding-right: 16px;
  }

  #home {
    min-height: 800px;
    max-height: 1000px;
  }

  #home footer {
    justify-content: space-between;
  }
}

/* Large screen styling */
@media (min-width: 1200px ) {
  .social-media {
    justify-content: flex-start;
  }

  .social-media > a > i:hover {
    text-shadow: 0 0 3px white;
  }

  @media(min-height: 800px) {
    #home footer .project-overview {
      display: flex;
      height: 250px;
      padding-left: 16px;
      justify-self: flex-end;
      box-sizing: border-box;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0);
    }
  
    .overview-container {
      display: flex;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
    }
  
    .overview {
      height: 100%;
      width: 300px;
      margin-bottom: 16px;
      margin-right: 16px;
      background-color: rgba(255,255,255,10%);
      border-radius: 4px;
      transition: transform 0.2s ease-in-out;
      display: flex;
      flex-direction: column;
      padding: 16px;
      box-sizing: border-box;
    }
  
    .overview:hover {
      transform: scale(1.05,1.05);
    }
  
    .overview i, .overview  h3{
      transition: text-shadow 0.2s ease-in-out;
    }
  
    .overview:hover h3, .overview:hover i  {
      text-shadow: 0 0 3px white;
    }
  
    .overview > span {
      color: rgba(255,255,255,80%);
    }

  }
  
  main {
    width: 100%;
    min-height: 2800px;
    max-height: 3000px;
    display: flex;
    flex-direction: column;
  }

  .content-section {
    height: 1000px;
  }
  
  /* Lg || Home Section */
  #home {
    box-sizing: border-box;
    align-items: flex-start;
  }
  
  #home > h1 {
    font-size: calc(5vw + 4px);
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  
  #home > p {
    width: 500px;
    text-align: start;
    font-size: large;
  }

  #home > h1, #home > p, #home > a {
    margin-left: 86px;
  }
  
  /* Lg || Skills Section */
  #languages {
    display: flex;
    flex-direction: row;
    padding: 80px 16px 36px 16px;
  }

  .proficiencies {
    grid-template-columns: repeat(3,1fr);
  }
  
  .proficiency {
    height: 100px;
    margin: 8px 8px 8px 16px;
  }
  
  #languages > .description {
    flex: 500px 1;
    margin-right: 24px;
    margin-left: 16px;
  }
  
  /* Lg || Projects Section */
  #projects {
    padding: 70px 24px 36px 24px;
  }
  
  .projects-collection {
    grid-template-columns: repeat(3,1fr);
  }

  .award > span {
    font-size: medium;
  }

  .tech-stack > span {
    font-size: small;
  }

  @media (min-width: 2000px){
    #home > h1 {
      font-size: 102px;
    }
  }
  
}