
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header {
  position: absolute;
  z-index: 100;
  height: 54px;
  width: 100%;
}

.sticky {
  position: fixed;
  top:0;
}

.header-container {
  display: flex;
  margin: 12px 16px 12px 16px;
  justify-content: space-between;
  align-items: center;
}

.slidein {
  animation: slidein 0.5s ease-in-out;
}

.invisible {
  opacity: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  text-transform: capitalize;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  font-size: large;
  font-weight: bolder;
}

.app-nav-list {
  display: flex;
  list-style: none;
}

.app-nav-list li {
  padding-left: 16px;
  padding-right: 16px;
}

.app-nav-list li a {
  text-decoration: none;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
}

.app-logo {
  height: 55px;
  width: 45px;
}

main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#home {
   background: linear-gradient(0deg, rgba(9,32,77,1)  0%, rgba(0,34,68,1) 100%);
}

section {
  background: #09204d;
}

#home > button {
  min-width: fit-content;
  max-width: 100px;
  background-color: rgba(0,0,0,0);
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 8px;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 8px;
}

h1 > i {
  color: #118bdc;
}

.parallax-container {
  width: 100%;
  height: 100%;
  z-index: 1;

}

.parallax-layer {
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
}

.content-section {
  height: 100%;
  width: 100vw;
  z-index: 10;
}

#home {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  padding-left: 86px;
  box-sizing: border-box;
}

#home > h1 {
  color: white;
  font-family: 'Share Tech Mono', monospace;
  font-size: 72px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

#home > p {
  width: 500px;
}

#languages {
  box-sizing: border-box;
  display: flex;
  padding: 80px 16px 36px 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  height: 100%;
}

section p, section h2 {
  color: white;
  font-family: 'Share Tech Mono', monospace;
  line-height: 1.6;
}

.proficiencies {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3,minmax(250px,auto));
}

.proficiency {
  height: 100px;
  border-radius: 4px;
  background-color: rgba(255,255,255,5%);
  margin: 8px 8px 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  box-shadow: rgba(12, 12, 13, 0.2) 0px 1px 8px 0px;
}

.checked {
  color: deepskyblue;
}

#languages > .description {
  flex: 500px 1;
  margin-right: 24px;
  margin-left: 16px;
}

#projects {
  position: absolute;
  top: 200%;
  width: 100%;
  height: 100%;
  padding: 70px 24px 36px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#projects > .description {
  margin-bottom: 24px;
}

.projects-collection-container {
  height: 100%;
}

.projects-collection {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
  height: 100%;
}

.project {
  height: auto;
  border-radius: 4px;
  background-color: rgba(255,255,255,5%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(12, 12, 13, 0.2) 0px 1px 8px 0px;
}

.project-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.project-content > h3 {
  color: white;
  font-family: 'Share Tech Mono', monospace; 
  margin-bottom: 0;
  margin-top: 8px;
}

.project-content > p {
  font-size: 15px;
  margin: 0;
}

.project-content > h3, .project-content > p {
  padding: 8px;
}

.tech-stack {
  display: flex;
  min-width: fit-content;
  width: 100%;
  min-height: 25px;
  padding-left: 16px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 16px;
}

.tech-stack i {
  color: white;
}

.award {
  width: 100%;
  min-height: 25px;
  background: #118bdc;
  color: white;
  font-family: 'Share Tech Mono', monospace; 
  display: flex;
  align-items: center;
  padding-left: 16px;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.award > span {
  margin-left: 8px;
}

.tech-stack > span {
  padding-left: 12px;
  color: white;
  margin-right: 8px;
  font-family: 'Share Tech Mono', monospace; 
}

.slideup {
  animation: slideup 0.6s ease-in-out;
}

#moreworks {
  color: white;
  font-family: 'Share Tech Mono', monospace; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #118bdc;
}

#contact {
  position: absolute;
  top: 300%;
  width: 100%;
  height: 100%;
}


@keyframes slidein {
  from {
    transform: translateY(-54px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideup {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}